<!DOCTYPE html>
<html ng-app="Application">
<head>
    <title>{{ 'title'|trans() }}</title>
    <base href="/">
    <link rel="stylesheet" href="{{ app.asset_path }}/css/style.css"/>
</head>
<body class="js-application" ng-controller="MainController">
<header>
    <div class="ui inverted segment">
        <div class="ui inverted secondary pointing menu">
            <div class="ui container">
                <a href="/admin" class="header item">
                    <img class="logo" src="{{ app.asset_path }}/images/logo_white.png">
                    JsonDB - admin
                </a>
                <a href="/admin/tables" class="item">Таблицы</a>
                <!--<div class="ui simple dropdown item">
                    Таблицы <i class="dropdown icon"></i>

                    <div class="menu">
                        <a class="item" href="/admin/views/Table.php?table=<?= $table; ?>"><?= $table; ?></a>
                    </div>
                </div>-->
            </div>
            <div class="right menu">
                <a href="/" target="_blank" class="ui item">
                    На сайт
                </a>
                <a class="ui item">
                    Logout
                </a>
            </div>
        </div>
    </div>
</header>
<div class="g-messages"></div>
<main role="main">
    <div class="ui grid">
        <div class="four wide column">
            <h2 class="ui center aligned icon header">
                <i class="circular table icon"></i>
                Таблицы
            </h2>

            <div class="ui celled list" ng-controller="TablesController">
                <div class="item" ng-repeat="table in tables">
                    <i class="table icon"></i>

                    <div class="content">
                        <div class="header">
                            <a href="/admin/tables/[[ table ]]">
                                [[ table ]]
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui vertical divider"></div>
        <div class="twelve wide column">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</main>
<footer>

</footer>
<script type="text/javascript" src="{{ app.asset_path }}/js/vendor.js"></script>
<script type="text/javascript" src="{{ app.asset_path }}/js/app.js"></script>
</body>
</html>
